# colcon 产物（仓库根目录）
/build/
/install/
/log/
/src/cyberdog_locomotion/
/src/cyberdog_simulator/cyberdog_example/
/src/cyberdog_simulator/cyberdog_msg/
/src/cyberdog_simulator/cyberdog_robot/
/src/cyberdog_simulator/cyberdog_simulator/
/src/cyberdog_simulator/cyberdog_visual/

# 兜底：忽略任意层级同名目录
**/build/
**/install/
**/log/